<p>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="font-size: 180%">Bothniabladet</span>
      <span class="spacer"></span>
      <a routerLink="/startpage" routerLinkActive="active"><button class="start-button" mat-flat-button color="accent"> Startsida </button></a>
      <a routerLink="/about" routerLinkActive="active"><button class="about-button" mat-flat-button color="accent"> Om oss </button></a>
      <a routerLink="/upload-pictures" routerLinkActive="active"><button class="upload-button" mat-flat-button color="accent"> Ladda upp bilder</button></a>
      <!--<a routerLink="/upload-pictures-all" routerLinkActive="active"><button class="upload-button" mat-flat-button color="accent"> Ladda upp bilder ej anställd</button></a>-->
      <a routerLink="/search-pic" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"> Sök bilder </button></a>
      <a routerLink="/customers" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"> Kunder </button></a>
      <a routerLink="/invoices" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"> Fakturor </button></a>
<!--      <a routerLink="" routerLinkActive="active"><button class="login-button" mat-flat-button color="accent"> Logga in </button></a>-->
      <!--<a routerLink="/logout" routerLinkActive="active"><button class="logout-button" mat-flat-button color="accent"> Logga ut </button></a>-->
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span></span>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

