<div *ngFor="let alert of alerts" class="{{cssClass(alert)}} alert-dismissable text-center justify-content-center">
  {{alert.message}}
  <a class="close" (click)="removeAlert(alert)">&times;</a>
</div>
