<div class="wrapper" style="text-align: center;">

  <div class="banner">
    <h1>
      <ng-container>Redigera kund</ng-container>
      <div class="button-div">
        <button mat-icon-button class="exit-button" matTooltip="Avbryt" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
      </div>
    </h1>
  </div>

  <form [formGroup]="modifyCustomersForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" id="id">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Företag</mat-label>
      <input matInput formControlName="company" id="company">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Kontakt</mat-label>
      <input matInput formControlName="contact" id="contact">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Rabatt</mat-label>
      <input matInput formControlName="discount" id="discount">
    </mat-form-field>

    <div class="buttons">
      <!--      <button class="delete-button" mat-raised-button type="button" (click)="requestDelete()">Ta bort</button>-->
      <button class="submit-button" mat-raised-button type="submit">Spara</button>
    </div>
  </form>
</div>


