<div class = "logoutnotice">
<h1>Du har loggat ut från ditt konto!</h1>
  <mat-icon class= "logoutsuccess" style="color: green; transform: scale(4); text-align: center;">select_check_box</mat-icon>
  <p>Vill du logga in igen?</p>
  <a routerLink="/login" routerLinkActive="active"><button class="login-button" mat-flat-button color="accent"> Logga in </button></a>
</div>
