<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body p-t-0">
          <div class="input-group">
            <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                            <button class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- Button trigger modal -->
 <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPictureModal">
    Launch demo modal
  </button>

  <div class="row">
    <div class="container" id="main-container">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a (click)="onOpenModal(null, 'add')" href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_2.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_2.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body p-t-10">
          <div class="media-main">
            <a class="pull-left" href="#">
              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
            </a>
            <div class="pull-right btn-group-sm">
              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-close"></i>
              </a>
            </div>
            <div class="info">
              <h4>Jonathan Smith</h4>
              <p class="text-muted">Graphics Designer</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <ul class="social-links list-inline p-b-10">
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->
  <!--Add picture-->
 <!-- <div class="modal fade" id="addPictureModal" tabindex="-1" role="dialog" aria-labelledby="addPictureModalLabel"> </div>
</div>-->


 <!--<button (click)="getValue()">Get Value</button>-->

<!-- Button trigger modal
<div class="container" #myButton>




<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPictureModal">
  Launch demo modal
</button>
</div>
Modal -->
<!--<div class="modal fade" id="addPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>

<body>

<ul style="float:right" >
<li><button class="btn btn-primary ex3" (click)="openDialog()" >
  Ladda upp bild
</button></li>


</ul>

<div class="container ex2">

  <h1  style="float:center">Ladda upp bilder</h1>

  <img style="float:center" src="assets/images/Rosa30.jpg" alt="Rosa">
  <!--<div *ngFor="let picture of pictures">
<div>{{picture.title}}</div>
</div>-->
</div>

</body>

</html>


