<h1>Kunder</h1>
<div class = "customers">
</div>

 <mat-form-field appearance="outline" color="accent">
  <mat-label>Filtrera</mat-label>
 <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<button mat-icon-button color="accent" (click)="openDialogAdd()">
  <button class="search-button" mat-flat-button color="accent">Lägg till kund</button>
</button>

<a routerLink="/invoices" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"
                                                            style="margin-left: 130px;  position:relative;
"> Fakturor </button></a>

<div class="customers-table">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSort matSortDisableClear>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Företag </th>
      <td mat-cell *matCellDef="let element"> {{element.company}}
      </td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kontaktperson </th>
      <td mat-cell *matCellDef="let element"> {{element.contact}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Epost </th>
      <td mat-cell *matCellDef="let element"> {{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rabatt </th>
      <td mat-cell *matCellDef="let element"> {{element.discount + "%"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteCustomers">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: right" >
        <button matTooltip="Ta bort"  mat-icon-button color="warn" (click)="deleteCustomers(id, element)">
          <mat-icon aria-label="Delete">clear</mat-icon>
        </button>
      </td>
    </ng-container>

        <ng-container matColumnDef="editCustomers">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right" >
            <button matTooltip="Redigera" mat-icon-button color="accent" (click)="editCustomers(element)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </td>
        </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
       <td class="mat-cell" colspan="4">Inget resultat för:  "{{input.value}}"</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Föremål per sida" color="accent"></mat-paginator>
</div>
