
.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.banner {
  padding-top: 0 !important;
  margin-right: -24px;
  margin-left: -24px;
  margin-top: -24px;
  background-color: #00c4ff !important;
  height: 70px;
}


h1 {
  text-align: center;
  font-family: "FredokaOne-Regular", Roboto, "sans-serif", "sans-serif";
  font-size: 24px;
  color: #000000;
  margin-top: 20px;
}

form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

mat-label {
  font-family: "WorkSans-Regular", Roboto, "sans-serif";
}

.exit-button {
  color: red;
  float: right;
  margin-right: 5px;
  transform: scale(1.2);
  top: -40px;
}

.delete-button {
  box-shadow: none !important;
  font-family: "WorkSans-Bold", Roboto, "sans-serif";
  font-size: 17px;
  color: #023341;
  width: 120px;
  margin-left: 150px;
  background-color: #ff5006;
}

.submit-button {
  box-shadow: none !important;
  font-family: "WorkSans-Bold", Roboto, "sans-serif";
  font-size: 17px;
  color: #023341;
  width: 130px;
  background-color: #80fd86;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  line-height: 1em;
  height: 40px;
}
.buttons {

}
