.searchform {
  padding: 20px;


}
.searchbar {
  display: inline-block;
}

.sort {
  padding: 10px;
  display: inline-block;

}

.filter {
  padding: 10px;
  display: inline-block;

}

.categories {
  padding: 20px;


}

.searchheader {
  padding: 20px;

}

.formfrom {
  float: right;
  padding: 20px;
  display: inline-block;


}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.edit-form {
  max-width: 400px;
  margin: auto;


}

.formfrom_1 {

  padding: 5px;
  display: inline-block;
  position: relative;
  top:100;
  right:20;

}

.container_border{


display: inline-block;
width: 500px;
  height: 500px;
  padding: 50px;
  border: 3px solid DeepSkyBlue;

  float: right;
  top:100;
  margin-right: 40px;

  }

  .color_DeepSkyBlue{
  border: DeepSkyBlue;
  }

  .font_minimize{
  font-size: x-small;}

.form_right{

display: inline-block;
float: right;
}

.btn1{
   margin-right: 30px;
}
