<script type="text/javascript">
    var app = angular.module('MyApp', ['datatables'])
    app.controller('MyController', function ($scope, $http, $window) {
        $http.post("Default.aspx/GetFiles", { headers: { 'Content-Type': 'application/json'} })
        .then(function (response) {
            $scope.Files = JSON.parse(response.data.d);
        }, function (response) {
            $window.alert(response.responseText);
        });
    });
</script>
<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>

<body>



<div  >
  <div class="col-md-6  container_border" >
    <div *ngIf="currentPicture">
      <h4><strong>Bild</strong></h4>

      <!--<button class="badge badge-warning" >
        Edit
      </button>-->


          <form>
            <div class="form-group">
              <label for="title">Titel</label>
              <input
                type="text"
                class="form-control"
                id="title"
                [(ngModel)]="currentPicture.title"
                name="title"
              />
            </div>
            <div class="form-group">
              <label for="description">Beskrivning</label>
              <input
                type="text"
                class="form-control"
                id="description"
                [(ngModel)]="currentPicture.description"
                name="description"
              />
            </div>
            <div class="form-group">
            <label for="cathegory">Kategori</label>
            <input
              type="text"
              class="form-control"
              id="cathegory"
              [(ngModel)]="currentPicture.cathegory"
              name="cathegory"
            />
            </div>
            <div class="form-group">
            <label for="keyword">Nyckelord</label>
            <input
              type="text"
              class="form-control"
              id="keyword"
              [(ngModel)]="currentPicture.keyword"
              name="keyword"
            />
    </div>

          </form>

      <button type="submit" class="badge badge-success mb-2 btn1" (click)="updatePicture()" >
        Uppdatera
      </button>

      <button class="badge badge-danger mr-2" (click)="deletePicture()" >
            Radera
          </button>




        <p>{{this.message}}</p>




    </div>

  </div>
  <h1 class="searchheader">Sök bilder</h1>
  <!--koden från details-->






  <form (ngSubmit)="onSubmit()">
    <div class = "searchbar">
      <form class="searchform">
        <mat-form-field class="searchformfield-full-width" color="accent" >
          <span matPrefix ></span>
          <input type="tel" matInput placeholder="Sök bilder via titel" name= "sök" [(ngModel)]= "title">
          <button (click)="getOnePicture()" matSuffix mat-button><mat-icon>search</mat-icon></button>
        </mat-form-field>
      </form>
      <form class="searchform">
        <mat-form-field class="searchformfield-full-width" color="accent" >
          <span matPrefix ></span>
          <input type="tel" matInput placeholder="Sök bilder via kategori" name= "sök" [(ngModel)]= "cathegory">
          <button (click)="getOnePictureByCathegory()" matSuffix mat-button><mat-icon>search</mat-icon></button>
        </mat-form-field>
      </form>
    </div>
  </form>

 <!-- <div class ="sort">
    <mat-form-field appearance="fill" color="accent" style="width: 130px" >
      <mat-label>Sortera efter</mat-label>
      <mat-select>
        <mat-option *ngFor="let choice of choices"[value]="choice.value">
          {{choice.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter">
    <mat-form-field appearance="fill" color="accent" style="width: 130px" padding="10px">
      <mat-label>Filtrera efter</mat-label>
      <mat-select>
        <mat-option *ngFor="let choice of choices"[value]="choice.value">
          {{choice.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <mat-form-field  appearance="fill" color="accent" style="width: 230px" padding="10px">
      <mat-label>Datum från</mat-label>
      <mat-date-range-input
        [formGroup]="dateFrom"
        [rangePicker]="datePicker"
        [comparisonStart]="dateTo.value.start"
        [comparisonEnd]="dateTo.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #datePicker></mat-date-range-picker>
    </mat-form-field>-->



  <div>
    <div class = "col-md-6 categories">
      <h3>Bildlista</h3>

      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg color_DeepSkyBlue">

      <tr >
        <th scope="col">Titel</th>
        <th scope="col">Kategori </th>
        <th scope="col">Nyckelord</th>
        <th scope="col">Kameratyp</th>
        <th scope="col">Datum</th>
        <th scope="col">Bild</th>

      </tr>
       <tr
          *ngFor="let picture of pictures; let i = index"

          [class.active]="i == currentIndex"
          (click)="setCurrentPicture(picture, i)"
          (click)="getImage2()"

       >


         <th scope="row"> {{picture.title}}</th>
         <td> {{picture.cathegory}}</td>
         <td> {{picture.keyword}}</td>
         <td> {{picture.cameraType}}</td>
         <td type="date"> {{picture.pictureDate|date:'shortDate'}}</td>

         <td><img src="{{'http://localhost:8080'+'/picture/Img/'+picture.id}}" style="width:300px;height:200px;"></td>
        </tr>

      </table>
    </div>

</div>

</div>


</body>
 </html>

