<div class="aboutus">
<h1>Om oss</h1>
  <p>Bothniabladet är i grunden en dagstidning som förutom att göra tidningen med dess bilagor
    även tillhandahåller en bildbyrå. Det jobbar många duktiga fotografer på Bothniabladet och
    några andra tidningar köper material från dem. Bothniabladet har på senaste tid vunnit en
    del priser för sina bilder och andra som behöver bilder har fått upp ögonen för dom. Allt fler
    beställningar på bilder börjar komma in och systemet de har just nu kan inte hantera
    mängden beställningar. De köper själva också in bilder från andra bildbyråer och vill ha koll
    på vilka bilder de faktiskt äger</p>
</div>
