
<h1>Fakturor</h1>
<div class = "invoices">
</div>

<mat-form-field appearance="outline" color="accent">
  <mat-label>Filtrera</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<button mat-icon-button color="accent" (click)="openDialogAdd()">
  <button class="search-button" mat-flat-button color="accent">Lägg till faktura</button>
</button>

<a routerLink="/customers" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"
                                                             style="margin-left: 130px; position:relative;"> Tillbaka </button></a>

<div class="invoices-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisableClear>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FakturaNr </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Företag </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Namn </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
      <td mat-cell *matCellDef="let element"> {{element.date|date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kostnad </th>
      <td mat-cell *matCellDef="let element"> {{element.cost + ":-"}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Betald </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="deleteInvoices">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: right" >
        <button matTooltip="Ta bort" mat-icon-button color="warn" (click)="deleteInvoices(id, element)">
          <mat-icon aria-label="Delete">clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="editInvoices">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: right" >
        <button matTooltip="Redigera" mat-icon-button color="accent" (click)="editInvoices(element)">
          <mat-icon  aria-label="Edit">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Inget resultat för:  "{{input.value}}"</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Föremål per sida" color="accent"></mat-paginator>
</div>

