
h1 {
  text-align: left;
  padding: 30px;
}
.invoices {
  text-align: right;
  padding: 30px;
  position:absolute;
  bottom:0;
  left: 90%;
}
table {
  width: 100%;

}
.deleteicon {
  color: red;
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
  padding: 30px;

}

td, th {
  width: 25%;
}

.invoices-table {
  margin-bottom: 50px;

}
