<!-- <mat-sidenav-container class="content">
  <mat-sidenav mode="side" opened>
    <mat-nav-list class="top-choices">
      <ng-container>
        <a mat-list-item routerLink="/coworkers" routerLinkActive="active">
          <mat-icon> </mat-icon>
        </a>
      </ng-container>
        <a mat-list-item routerLink="/organisation" routerLinkActive="active">
          <mat-icon> </mat-icon>   </a>
        <a mat-list-item>
          <mat-icon> </mat-icon>        </a>
    </mat-nav-list>
      <ng-container>
        <a mat-list-item routerLink="/help-page" routerLinkActive="active">
          <mat-icon>help</mat-icon>
        </a>
      </ng-container>
        <a mat-list-item routerLink="settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
        </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
