<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>

  <body>


      <button class="close.mat-button" style="float:right"[mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
      </button>



<div class = "submit-form">
  <div class="container row">
    <div class="col-md-12">
      <h1>Ladda upp bild</h1>
      <p> {{myMessage}} </p>
    </div>
  </div>
</div>
  <!--<hr />-->
  <div class="container row">
    <div class="col-md-12">

    </div>
  </div>


  <!--test 220801-->

  <!--<div class="form-group">
  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
  <a class="btn btn-outline-success" routerLink="/articles"><i class="fa fa-plus-square"></i> Liste</a>
  </div>-->





    <form [formGroup]="this.pictureService.dataForm" (ngSubmit)="onSubmit()">


        <div class="form-group">

        <img [src]="imgURL" height="200" *ngIf="imgURL"><br>
        <input type="file"  accept="image/*" (change)="onSelectFile($event)">
      </div>

      <input type="hidden"  formControlName="id" id="id">



       <input type="hidden"  formControlName="pictureDate" id="pictureDate" name="pictureDate">


      <div class="form-group">
      <!--<form action="http://localhost:8080" method="post" enctype="multipart/form-data">-->
 <label for="titel" class="font_minimize">Titel*</label>
  <input type="text" id="titel" formControlName="title" name="title" style="float:right">
    </div>

    <div class="form-group">
<label for="beskrivning" class="font_minimize">Beskrivning*</label>
      <input type="text" id="beskrivning" formControlName="description" name="description" style="float:right">
      </div>


  <!--<label for="fotograf">Fotograf*</label>
  <input type="text" id="fotograf" ngModel name="fotograf" style="float:right"><br>fotografens uppgifter kommer vid inloggning-->
    <div class="form-group">
  <label for="kameratyp" class="font_minimize">Kameratyp*</label>
  <input type="text" id="kameratyp"  formControlName="cameraType"name="cameraType" style="float:right">
      </div>
    <!-- <label for="datum">Datum bilden togs*</label>
     <input type="text" id="datum" required [(ngModel)]="picture.date" name="datum" style="float:right"><br>-->
    <div class="form-group">
    <label for="kategori" class="font_minimize">Kategori*</label>
     <input type="text" id="kategori"  formControlName="cathegory" name="cathegory" style="float:right">
   </div>
      <div class="form-group">
     <label for="sökord" class="font_minimize">Sökord</label>
     <input type="text" id="sökord"  formControlName="keyword" name="keyword" style="float:right">
        </div>
      <div class="form-group">
    <label for="bredd" class="font_minimize">Bredd</label>
    <input type="text" id="bredd"  formControlName="width" name="width" style="float:right">
      </div>
        <div class="form-group">
    <label for="hojd">Höjd</label>
    <input type="text" id="hojd" formControlName="height" name="height" style="float:right">
          </div>
      <div class="form-group">
    <label for="maxAmountPublic" class="font_minimize">Max antal publikationer</label>
    <input type="text" id="maxAmountPublic" formControlName="maxAmountPublic" name="maxAmountPublic" style="float:right">
        </div>
      <div class="form-group">
    <label for="salesPrice" class="font_minimize">Försäljningspris</label>
    <input type="text" id="salesPrice"  formControlName="salesPrice" name="salesPrice" style="float:right">
        </div>
      <div class="form-group">
    <label for="gps_latitude" class="font_minimize">GPS koordinat (latitude)</label>
    <input type="text" id="gps_latitude"  formControlName="gps_latitude" name="gps_latitude" style="float:right">
    </div>
      <div class="form-group">
        <label for="gps_longitude" class="font_minimize">GPS koordinat (longitude)</label>
    <input type="text" id="gps_longitude"  formControlName="gps_longitude" name="gps_longitude" style="float:right">


   </div>
      <div class="form-group">

      <!--<button (click)="getOnePicture()" type="button" style="float:right" class="btn btn-primary ex1" padding="10px">Sök upp bilden</button>-->
   <button style="float:right" type="submit" padding="10px" class="btn btn-primary ex1">Spara</button>
        <p class="picture_uploaded"> {{this.message}} </p>
      </div>
  </form>


</body>
   </html>
