

.close.mat-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.picture_uploaded{
color: green;}

.ex1 {

  margin: 5px;

}

#display-image{
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}


