
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// custom palettes
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #e0fee2,
  100 : #b3feb6,
  200 : #80fd86,
  300 : #4dfc56,
  400 : #26fb31,
  500 : #00fa0d,
  600 : #00f90b,
  700 : #00f909,
  800 : #00f807,
  900 : #00f603,
  A100 : #ffffff,
  A200 : #eaffea,
  A400 : #b7ffb7,
  A700 : #9dff9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #e0f8ff,
  100 : #b3edff,
  200 : #80e2ff,
  300 : #4dd6ff,
  400 : #26cdff,
  500 : #00c4ff,
  600 : #00beff,
  700 : #00b6ff,
  800 : #00afff,
  900 : #00a2ff,
  A100 : #ffffff,
  A200 : #f2faff,
  A400 : #bfe5ff,
  A700 : #a6daff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-worn: (
  50 : #fff0e3,
  100 : #ffd9b9,
  200 : #ffc08a,
  300 : #ffa65b,
  400 : #ff9337,
  500 : #ff8014,
  600 : #ff7812,
  700 : #ff6d0e,
  800 : #ff630b,
  900 : #ff5006,
  A100 : #ffffff,
  A200 : #fff6f3,
  A400 : #ffd0c0,
  A700 : #ffbda7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$intro-primary: mat.define-palette($md-primary);
$intro-accent: mat.define-palette($md-accent);

// The warn palette is optional (defaults to red).
$intro-warn: mat.define-palette($md-worn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$intro-theme: mat.define-light-theme((
  color: (
    primary: $intro-primary,
    accent: $intro-accent,
    warn: $intro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($intro-theme);

