
<div class = "start-text">
  <img src="assets/images/image1.png" height="300px" width="300px">
  <img src="assets/images/image2.png" height="300px" width="300px">
  <img src="assets/images/image3.png" height="300px" width="300px">
  <h1>Välkommen till Bothniabladet!</h1>

  <p>Vi är en nyhetsbaserad bildbyrå som tillhör Bothniabladet.
    <br />Vi hjälper dig hitta den perfekta bilden efter ditt ändamål, du kan antingen söka efter och bestämma bilder här på vår hemsida eller kontakta oss direkt på kontakt@bothniablade.se.
    <br /> Du har även möjlighet att ladda upp dina egna bilder som kan komma att användas vid framtida nyhetsartiklar. </p>

</div>
<div class = "start-button">
  <a routerLink="/search-pic" routerLinkActive="active"><button class="search-button" mat-flat-button color="accent"> Sök bilder </button></a>
</div>


