<div class="wrapper">

  <div class="banner">
    <h1>
      <ng-container>Redigera faktura</ng-container>
      <div class="button-div">
        <button mat-icon-button class="exit-button" matTooltip="Avbryt" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
      </div>
    </h1>
  </div>

  <form [formGroup]="modifyInvoicesForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" color="accent">
      <mat-label>FakturaNr</mat-label>
      <input matInput formControlName="id" id="id">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Företag</mat-label>
      <input matInput formControlName="company" id="company">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Namn</mat-label>
      <input matInput formControlName="name" id="name">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Datum</mat-label>
      <input matInput formControlName="date" id="date">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Kostnad</mat-label>
      <input matInput formControlName="cost" id="cost">
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Status</mat-label>
      <input matInput formControlName="state" id="state">
    </mat-form-field>

    <div class="buttons">
      <!--      <button class="delete-button" mat-raised-button type="button" (click)="requestDelete()">Ta bort</button>-->
      <button class="submit-button" mat-raised-button type="submit">Spara</button>
    </div>
  </form>
</div>


